@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Sarala:wght@400;700&display=swap');

/*font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif;
font-family: 'Ubuntu', sans-serif;*/

html, body {
    font-family: Sarala, Ubunto;
    width: 100%;
    height: 100%;
    
}

body {
  background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
  
  
  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    width: 100%;
    height: 100vh;
}


section#inicio {
    background-image: url(./img/coimbra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    width: 100%;
    height: 100vh;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }

  #teste {
    transition: all 0.5s ease-out;
    cursor: pointer;
    
    }
    #teste:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }

    #h1-titulo {
        background-image: linear-gradient(90deg, rgba(238,42,183,1) 0%, rgba(181,50,214,1) 46%, rgba(64,11,147,1) 100%);
        color: black;
        background-clip: text;
        -webkit-background-clip: text;
      
        /* Adicionado: */
        -webkit-text-fill-color: transparent;
    }

    h1 {
      font-family: 'Poppins', sans-serif;;
      font-size: 3rem;
      font-weight: bolder;
      line-height: 1.1;
    }
    